7-zip/in/7za.wasm filter=lfs diff=lfs merge=lfs -text
7-zip/in/subtask1/in.bin filter=lfs diff=lfs merge=lfs -text
dcraw/in/dcraw.wasm filter=lfs diff=lfs merge=lfs -text
dcraw/in/subtask1/example.crw filter=lfs diff=lfs merge=lfs -text
flite/in/flite.wasm filter=lfs diff=lfs merge=lfs -text
